# Dependencies
node_modules/
**/node_modules/

# Production build
dist/
**/dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment & Local
.env
.env.local
.env.*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?

# .NET artifacts
bin/
**/bin/
obj/
**/obj/
*.user
*.userprefs
*.db
*.db-shm
*.db-wal
